import path from 'path';

export const SECRET = 's3cr3t';
export const STATIC_ROOT = path.join(__dirname, 'src', 'public');
export const UPLOAD_PATH = './uploads/';

export const MQTT_HOST = 'localhost';
export const MQTT_PORT = 1883;
export const MQTT_USERNAME = '';
export const MQTT_PASSWORD = '';
