[Service]
ExecStart=/usr/bin/node /home/cpr/cpr-server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cpr-server
User=cpr
Group=cpr
Environment=NODE_ENV=production HOST=127.0.0.1 PORT=2370

[Install]
WantedBy=multi-user.target
