var URL = "http://localhost:3000";

module.exports = {
    FILENAME: "examples/1.png",
    USERNAME: "admin",
    PASSWORD: "admin",
    URL : URL,
    LOGIN: URL + "/api/auth/login",
    IMAGES: URL + "/api/images",
    SHOTS: URL + "/api/shots",
    MQTT_HOST: 'localhost',
    MQTT_PORT: 1883,
    MQTT_USERNAME: 'cpr',
    MQTT_PASSWORD: 'cpr',
};
